{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/cancel_patient_record/' method='POST'>
        <div class='action_header'>
            <h1>Отмена записи</h1>
        </div>
        <hr>
            <select class='time_select' required multiple size='20' name='selected_records'>
                {% for record in records %}
                    <option value='{{ record.id }}'>{{ record.doctor.speciality.speciality_name }} - {{ record.doctor.personal_data.surname }} {{ record.doctor.personal_data.name }} {{ record.doctor.personal_data.patronymic }} - {{ record.record_time.date }}</option>
                {% endfor %}
            </select>
            <p><a>Возможно выделение нескольких элементов через ctrl или shift</a></p>
            <p><a>Отмена возможна только для будущих записей</a></p>
        <hr>
        <input type='submit' value='Удалить'>
    </form>
</div>
{% endblock %}