{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Информация о врачах</h1>
    </div>
        <div class='doctors_list'>
            <table width='100%' border='0px'>
                <tr bgcolor='white'><td colspan='2'></td></tr>
                {% for doctor in doctors %}
                <tr>
                    <td class='table_td' width='50%'>
                        <a>ФИО</a>
                    </td>
                    <td class='table_td' width='50%'>
                        <a>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }}</a>
                    </td>
                </tr>
                <tr>
                    <td class='table_td' width='50%'>
                        <a>Специальность</a>
                    </td>
                    <td class='table_td' width='50%'>
                        <a>{{ doctor.speciality.speciality_name }}</a>
                    </td>
                </tr>
                <tr>
                    <td class='table_td' width='50%'>
                        <a>Кабинет</a>
                    </td>
                    <td class='table_td' width='50%'>
                        <a>{{ doctor.cabinet.cabinet_number }}</a>
                    </td>
                </tr>
                <tr>
                    <td class='table_td' width='50%'>
                        <a>Номер телефона кабинета</a>
                    </td>
                    <td class='table_td' width='50%'>
                        <a>{{ doctor.cabinet.cabinet_phone }}</a>
                    </td>
                </tr>
                <tr bgcolor='white'><td colspan='2'></td></tr>
                {% endfor %}
            </table>
        </div>
        </br><a href='/patient/'><input type='submit' value='На главную'></a>
    </div>
</div>
{% endblock %}