{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Запись на прием</h1>
    </div>
    <form action='/api/patient_record/{{ selected_doctor.id }}' method='POST'>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Выберите специальность врача</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for speciality in specialities %}
                            {% if speciality != selected_speciality %}
                                <option value='/patient/record/{{ speciality.id }}/1'>{{ speciality.speciality_name }}</option>
                            {% else %}
                                <option value='/patient/record/{{ speciality.id }}/1' selected='selected'>{{ speciality.speciality_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Выберите доктора</a>
                </td>
                <td class='table_td' >
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for doctor in doctors %}
                            {% if doctor != selected_doctor %}
                                <option value='/patient/record/{{ selected_speciality.id }}/{{ doctor.id }}'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }}</option>
                            {% else %}
                                <option value='/patient/record/{{ selected_speciality.id }}/{{ doctor.id }}' selected='selected'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Выберите время записи</a>
                </td>
                <td class='table_td' width='50%'>
                    <select name='time'>
                        {% for time in times %}
                            <option value='{{ time.id }}' required>{{ time.date }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Записаться'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}