{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Панель управления пациента</title>

        <link href='{% static 'main/css/patient.css' %}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <div class='main_div'>
            <div class='left_column'>
                <a href='/patient/'><h3>Панель управления пациента</h3></a>
                <div class='actions_div'>
                    <p><a href='/patient/record/1/1/'>Записаться на прием</a></p>
                    <hr>
                    <p><a href='/patient/my_records/'>Посмотреть мои записи</a></p>
                    <p><a href='/patient/cancel_record/'>Отменить запись</a></p>
                    <hr>
                    <p><a href='/patient/polyclinic_info/'>Информация о поликлинике</a></p>
                    <p><a href='/patient/doctors_info/'>Информация о врачах</a></p>
                    <hr>
                    <p><a href='/patient/my_info/'>Ваши данные</a></p>
                </div>
                <div class='logout_div'>
                    <form action = '/logout_user/'>
                        <input type = 'submit' value = 'Выйти'>
                    </form>
                </div>
            </div>
            <div class='right_column'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>