{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='greeting_div'>
    <h2>Добро пожаловать, {{ patient.personal_data.name }} {{ patient.personal_data.patronymic }}!</h2>
    <p>Вы попали на панель управления пациента. Тут вы можете записаться на прием к врачу, посмотреть список ваших записей, и отменить запись. Так же вы можете посмотреть информацию о врачах, которые работют в вашей поликлинике.</p>
    <p>Для продолжения выберите нужный пункт меню слева</p>
</div>
{% endblock %}