{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Ваша информация</h1>
    </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>ФИО</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ patient.personal_data.surname }} {{ patient.personal_data.name }} {{ patient.personal_data.patronymic }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Номер паспорта</a>
                </td>
                <td class='table_td' >
                     <a>{{ patient.personal_data.passport_number }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Место прописки</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ patient.personal_data.residential_address }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона</a>
                </td>
                <td class='table_td' width='50%'>
                    {% if patient.personal_data.phone_number != '' %}
                        <a>{{ patient.personal_data.phone_number }}</a>
                    {% else %}
                        <a>Нет</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер полиса</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ patient.policy_number }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер СНИЛС</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ patient.snils_number }}</a>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <a href='/patient/'><input type='submit' value='На главную'></a>
                </td>
            </tr>
        </table>
</div>
{% endblock %}