{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Записи на прием</h1>
    </div>
    <div>
        <h3>Прошедшие записи</h3>
        <table width='100%' class='records_table'>
            <tr class='records_table_head'>
                <td>
                    <a>Врач</a>
                </td>
                <td>
                    <a>Специальность</a>
                </td>
                <td>
                    <a>Время</a>
                </td>
                <td>
                    <a>Кабинет</a>
                </td>
            </tr>
            {% for record in expired_records %}
                <tr>
                    <td>
                        <a>{{ record.doctor.personal_data.surname }} {{ record.patient.personal_data.name }} {{ record.patient.personal_data.patronymic }}</a>
                    </td>
                    <td>
                        <a>{{ record.doctor.speciality.speciality_name }}</a>
                    </td>
                    <td>
                        <a>{{ record.record_time }}</a>
                    </td>
                    <td>
                        <a>{{ record.doctor.cabinet.cabinet_number }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <h3>Будущие записи</h3>
        <table width='100%' class='records_table'>
            <tr class='records_table_head'>
                <td>
                    <a>Врач</a>
                </td>
                <td>
                    <a>Специальность</a>
                </td>
                <td>
                    <a>Время</a>
                </td>
                <td>
                    <a>Кабинет</a>
                </td>
            </tr>
            {% for record in future_records %}
                <tr>
                    <td>
                        <a>{{ record.doctor.personal_data.surname }} {{ record.patient.personal_data.name }} {{ record.patient.personal_data.patronymic }}</a>
                    </td> 
                    <td>
                        <a>{{ record.doctor.speciality.speciality_name }}</a>
                    </td>
                    <td>
                        <a>{{ record.record_time }}</a>
                    </td>
                    <td>
                        <a>{{ record.doctor.cabinet.cabinet_number }}</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    </div>
    <a href='/doctor/'><input type='submit' value='На главную'></a>
</div>
{% endblock %}