{% extends "main/patient/patient_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Информация о поликлинике</h1>
    </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Название</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ polyclinic.name }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Сайт</a>
                </td>
                <td class='table_td' >
                    {% if polyclinic.site != '' %}
                        <a>{{ polyclinic.site }}</a>
                    {% else %}
                        <a>Нет</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Адрес</a>
                </td>
                <td class='table_td' width='50%'>
                    <a>{{ polyclinic.address_street }} {{ polyclinic.address_number }}</a>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер регистратуры</a>
                </td>
                <td class='table_td' width='50%'>
                    {% if polyclinic.registry_phone != '' %}
                        <a>{{ polyclinic.registry_phone }}</a>
                    {% else %}
                        <a>Нет</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона</a>
                </td>
                <td class='table_td' width='50%'>
                    {% if polyclinic.reception_phone != '' %}
                        <a>{{ polyclinic.reception_phone }}</a>
                    {% else %}
                        <a>Нет</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Электронная почта</a>
                </td>
                <td class='table_td' width='50%'>
                    {% if polyclinic.email != '' %}
                        <a>{{ polyclinic.email }}</a>
                    {% else %}
                        <a>Нет</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <a href='/patient/'><input type='submit' value='На главную'></a>
                </td>
            </tr>
        </table>
</div>
{% endblock %}