{% extends "main/doctor/doctor_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/add_doctor_schedule/' method='POST'>
        <div class='action_header'>
            <h1>Добавление дня приема</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>День приема</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='date' type='text' size='35' placeholder='ДД.ММ.ГГГГ' pattern='\d{1,2}\.\d{1,2}\.\d{1,4}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Начало приема</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='begin_time' type='text' size='35' placeholder='ЧЧ:ММ' pattern='\d{1,2}\:\d{1,2}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Конец приема</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='end_time' type='text' size='35' placeholder='ЧЧ:ММ' pattern='\d{1,2}\:\d{1,2}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Начало перерыва (необезательно)</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='timeout_begin' type='text' size='35' placeholder='ЧЧ:ММ' pattern='\d{1,2}\:\d{1,2}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Конец перерыва (необезательно)</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='timeout_end' type='text' size='35' placeholder='ЧЧ:ММ' pattern='\d{1,2}\:\d{1,2}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Интервал</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='interval' type='text' size='35' placeholder='ММ' pattern='\d{1,2}'>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Добавить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}