{% extends "main/doctor/doctor_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/del_doctor_schedule/' method='POST'>
        <div class='action_header'>
            <h1>Удаление часов приема</h1>
        </div>
        <hr>
            <select class='time_select' required multiple size='20' name='selected_times'>
                {% for time in schedule %}
                    <option value='{{ time.id }}'>{{ time.date }}</option>
                {% endfor %}
            </select>
            <p><a>Возможно выделение нескольких элементов через ctrl или shift</a></p>
            <p><a>Удаление возможно только если на это время никто не записывался</a></p>
        <hr>
        <input type='submit' value='Удалить'>
    </form>
</div>
{% endblock %}