{% extends "main/doctor/doctor_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='greeting_div'>
    <h2>Добро пожаловать, {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }}!</h2>
    <p>Вы попали на панель управления врача. Тут вы можете записать к себе пациента, посмотреть список тех, кто записан к вам на прием. Так же посмотреть и отредактировать свой режим работы.</p>
    <p>Для продолжения выберите нужный пункт меню слева</p>
</div>
{% endblock %}