{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Панель управления врача</title>

        <link href='{% static 'main/css/doctor.css' %}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <div class='main_div'>
            <div class='left_column'>
                <a href='/doctor/'><h3>Панель управления врача</h3></a>
                <div class='actions_div'>
                    <p><a href='/doctor/record_pacient/'>Запись пациента на прием</a></p>
                    <hr>
                    <p><a href='/doctor/records/'>Посмотреть записи</a></p>
                    <hr>
                    <p><a href='/doctor/add_schedule/'>Добавить день приема</a></p>
                    <p><a href='/doctor/del_schedule/'>Удалить часов приема</a></p>
                </div>
                <div class='logout_div'>
                    <form action = '/logout_user/'>
                        <input type = 'submit' value = 'Выйти'>
                    </form>
                </div>
            </div>
            <div class='right_column'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>