{% extends "main/doctor/doctor_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <div class='action_header'>
        <h1>Записи на прием</h1>
    </div>
    <hr>
        <select class='time_select' size='20' disabled>
            {% for record in records %}
                <option>{{ record.patient.personal_data.surname }} {{ record.patient.personal_data.name }} {{ record.patient.personal_data.patronymic }} - {{ record.record_time }}</option>
            {% endfor %}
        </select>
    <hr>
    <a href='/doctor/'><input type='submit' value='На главную'></a>
</div>
{% endblock %}