{% extends "main/doctor/doctor_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/record_doctor_pacient/' method='POST'>
        <div class='action_header'>
            <h1>Записать пациента на прием</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' >
                    <a>Пациент</a>
                </td>
                <td class='table_td' >
                    <select name='patient'>
                        {% for patient in patients %}
                            <option value='{{ patient.id }}'>{{ patient.personal_data.surname }} {{ patient.personal_data.name }} {{ patient.personal_data.patronymic }} - {{ patient.personal_data.date_of_birth }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Время приема</a>
                </td>
                <td class='table_td' >
                    <select name='time'>
                        {% for time in times %}
                            <option value='{{ time.id }}'>{{ time }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Добавить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}