{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/add_doctor/' method='POST'>
        <div class='action_header'>
            <h1>Добавление врача</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Логин</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='login' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Пароль</a>
                </td>
                <td class='table_td' >
                    <input name='password' type='text' size='35'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Фамилия</a>
                </td>
                <td class='table_td' >
                    <input name='surname' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Имя</a>
                </td>
                <td class='table_td' >
                    <input name='name' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Отчество</a>
                </td>
                <td class='table_td' >
                    <input name='patronymic' type='text' size='35'>
                </td>
            </tr>
            <tr bgcolor='white' class='spacer'><td colspan='2' class='spacer'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Номер паспорта</a>
                </td>
                <td class='table_td' >
                    <input name='passport_number' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Место прописки</a>
                </td>
                <td class='table_td' >
                    <input name='residential_address' type='text' size='35'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>            
            <tr>
                <td class='table_td' >
                    <a>Дата рождения</a>
                </td>
                <td class='table_td' >
                    <input name='date_of_birth' type='text' size='35' placeholder='ДД.ММ.ГГГГ' pattern='\d{1,2}\.\d{1,2}\.\d{1,4}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Специальность</a>
                </td>
                <td class='table_td' >
                    <select name='speciality'>
                        {% for speciality in specialities %}
                            <option>{{ speciality }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Кабинет</a>
                </td>
                <td class='table_td' >
                    <select name='cabinet'>
                        {% for cabinet in cabinets %}
                            <option>{{ cabinet }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>            
            <tr>
                <td class='table_td' >
                    <a>Номер телефона</a>
                </td>
                <td class='table_td' >
                    <input name='phone_number' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Добавить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}