{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/add_cabinet/' method='POST'>
        <div class='action_header'>
            <h1>Добавление кабинета</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Название или номер кабинета</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='name' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона кабинета</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='phone' type='text' size='35'>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Добавить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}