{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Панель администратора</title>

        <link href='{% static 'main/css/admin.css' %}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <div class='main_div'>
            <div class='left_column'>
                <a href='/padmin/'><h3>Панель администратора</h3></a>
                <div class='actions_div'>
                    <p><a href='/padmin/record_patient/1/1'>Записать пациента к врачу</a></p>
                    <hr>
                    <p><a href='/padmin/add_patient'>Добавить нового пациента</a></p>
                    <p><a href='/padmin/edit_patient/1'>Отредактировать пациента</a></p>
                    <hr>
                    <p><a href='/padmin/add_doctor'>Добавить врача</a></p>
                    <p><a href='/padmin/edit_doctor/1'>Отредактировать врача</a></p>
                    <hr>
                    <p><a href='/padmin/add_cabinet'>Добавить кабинет</a></p>
                    <p><a href='/padmin/edit_cabinet/1'>Отредактировать кабинет</a></p>
                    <hr>
                    <p><a href='/padmin/add_speciality'>Добавить специальность</a></p>
                    <p><a href='/padmin/edit_speciality/1'>Отредактировать специальность</a></p>
                    <hr>
                    <p><a href='/padmin/edit_polyclinic'>Отредактировать поликлинику</a></p>
                </div>
                <div class='logout_div'>
                    <form action = '/logout_user/'>
                        <input type = 'submit' value = 'Выйти'>
                    </form>
                </div>
            </div>
            <div class='right_column'>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>