{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='greeting_div'>
    <h1>Добро пожаловать!</h1>
    <p>Вы на панели администратора поликлиники. Тут вы можете записать пациента к в врачу, добавлять или редактировать информацию об пациентах и врачах вашего медицинского учереждения. </p>
    <p>Для продолжения выберите нужный пункт меню слева</p>
</div>
{% endblock %}