{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/edit_polyclinic/' method='POST'>
        <div class='action_header'>
            <h1>Редактирование поликлиники</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Название</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='name' type='text' size='35' value={{ polyclinic.name }}>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Сайт</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='site' type='text' size='35' value={{ polyclinic.site }}>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Улица</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='address_street' type='text' size='35' value={{ polyclinic.address_street }}>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер дома</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='address_number' type='text' size='35' value={{ polyclinic.address_number }}>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='registry_phone' type='text' size='35' value={{ polyclinic.registry_phone }}>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона регистратуры</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='reception_phone' type='text' size='35' value={{ polyclinic.reception_phone }}>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Электронная почта</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='email' type='text' size='35' value={{ polyclinic.email }}>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Изменить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}