{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/edit_cabinet/{{ selected_cabinet.id }}' method='POST'>
        <div class='action_header'>
            <h1>Редактирование кабинета</h1>
        </div>
        <table width='100%' border='0px'>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Редактируемый кабинет</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for cabinet in cabinets %}
                            {% if cabinet != selected_cabinet %}
                                <option value='/padmin/edit_cabinet/{{ cabinet.id }}'>{{ cabinet.cabinet_number }}</option>
                            {% else %}
                                <option value='/padmin/edit_cabinet/{{ cabinet.id }}' selected='selected'>{{ cabinet.cabinet_number }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Название или номер кабинета</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='name' type='text' size='35' value='{{ selected_cabinet.cabinet_number }}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Номер телефона кабинета</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='phone' type='text' size='35' value='{{ selected_cabinet.cabinet_phone }}'>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Изменить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}