{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/edit_speciality/{{ selecdet_speciality.id }}' method='POST'>
        <div class='action_header'>
            <h1>Редактирование специальности</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Редактируемая специальность</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for speciality in specialities %}
                            {% if speciality != selecdet_speciality %}
                                <option value='/padmin/edit_speciality/{{ speciality.id }}'>{{ speciality.speciality_name }}</option>
                            {% else %}
                                <option value='/padmin/edit_cabinet/{{ speciality.id }}' selected='selected'>{{ speciality.speciality_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Имя специальности</a>
                </td>
                <td class='table_td' width='50%'>
                    <input name='name' type='text' size='35' value = {{ selecdet_speciality.speciality_name }}>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Изменить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}