{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/edit_doctor/{{ selected_doctor.id }}' method='POST'>
        <div class='action_header'>
            <h1>Редактирование врача</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Редактируемый врач</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for doctor in doctors %}
                            {% if doctor != selected_doctor %}
                                <option value='/padmin/edit_doctor/{{ doctor.id }}'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }} {{ doctor.personal_data.date_of_birth }}</option>
                            {% else %}
                                <option value='/padmin/edit_doctor/{{ doctor.id }}' selected='selected'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }} {{ doctor.personal_data.date_of_birth }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Фамилия</a>
                </td>
                <td class='table_td' >
                    <input name='surname' type='text' size='35' value='{{ selected_doctor.personal_data.surname }}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Имя</a>
                </td>
                <td class='table_td' >
                    <input name='name' type='text' size='35' value='{{ selected_doctor.personal_data.name }}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Отчество</a>
                </td>
                <td class='table_td' >
                    <input name='patronymic' type='text' size='35' value='{{ selected_doctor.personal_data.patronymic }}'>
                </td>
            </tr>
            <tr bgcolor='white' class='spacer'><td colspan='2' class='spacer'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Номер паспорта</a>
                </td>
                <td class='table_td' >
                    <input name='passport_number' type='text' size='35' value='{{ selected_doctor.personal_data.passport_number }}'>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Место прописки</a>
                </td>
                <td class='table_td' >
                    <input name='residential_address' type='text' size='35' value='{{ selected_doctor.personal_data.residential_address }}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>            
            <tr>
                <td class='table_td' >
                    <a>Дата рождения</a>
                </td>
                <td class='table_td' >
                    <input name='date_of_birth' type='text' size='35' placeholder='ДД.ММ.ГГГГ' pattern='\d{1,2}\.\d{1,2}\.\d{1,4}' value='{{ selected_doctor.personal_data.date_of_birth }}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Специальность</a>
                </td>
                <td class='table_td' >
                    <select name='speciality'>
                        {% for speciality in specialities %}
                            {% if speciality == selected_doctor.speciality %}
                                <option selected='selected'>{{ speciality }}</option>
                            {% else %}
                                <option>{{ speciality }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' >
                    <a>Кабинет</a>
                </td>
                <td class='table_td' >
                    <select name='cabinet'>
                        {% for cabinet in cabinets %}
                            {% if cabinet == selected_doctor.cabinet %}
                                <option selected='selected'>{{ cabinet }}</option>
                            {% else %}
                                <option>{{ cabinet }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>            
            <tr>
                <td class='table_td' >
                    <a>Номер телефона</a>
                </td>
                <td class='table_td' >
                    <input name='phone_number' type='text' size='35' value='{{ selected_doctor.personal_data.phone_number }}'>
                </td>
            </tr>
            <tr bgcolor='white'><td colspan='2'></td></tr>
            <tr>
                <td class='table_td' >
                    <a>Поликлиника</a>
                </td>
                <td class='table_td' >
                    <select name='polyclinic'>
                        {% for polyclinic in polyclinics %}
                            <option>{{ polyclinic.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Добавить'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}