{% extends "main/admin/admin_base.html" %}

{% load staticfiles %}

{% block content %}
<div class='add_patient_div'>
    <form action='/api/record_patient/{{ selected_speciality.id }}/{{ selected_doctor.id }}' method='POST'>
        <div class='action_header'>
            <h1>Запись пациента к врачу</h1>
        </div>
        <table width='100%' border='0px'> 
            <tr>
                <td class='table_td' width='50%'>
                    <a>Специальность врача</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for speciality in specialities %}
                            {% if speciality != selected_speciality %}
                                <option value='/padmin/record_patient/{{ speciality.id }}/{{ selected_doctor.id }}'>{{ speciality.speciality_name }}</option>
                            {% else %}
                                <option value='/padmin/record_patient/{{ speciality.id }}/{{ selected_doctor.id }}' selected='selected'>{{ speciality.speciality_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>    
            <tr>
                <td class='table_td' width='50%'>
                    <a>Врач</a>
                </td>
                <td class='table_td' width='50%'>
                    <select onchange="window.location.href=this.options[this.selectedIndex].value">
                        {% for doctor in doctors %}
                            {% if doctor != selected_doctor %}
                                <option value='/padmin/record_patient/{{ selected_speciality.id }}/{{ doctor.id }}'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }} {{ doctor.personal_data.date_of_birth }}</option>
                            {% else %}
                                <option value='/padmin/record_patient/{{ selected_speciality.id }}/{{ doctor.id }}' selected='selected'>{{ doctor.personal_data.surname }} {{ doctor.personal_data.name }} {{ doctor.personal_data.patronymic }} {{ doctor.personal_data.date_of_birth }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Время</a>
                </td>
                <td class='table_td' width='50%'>
                    <select name='time'>
                        {% for time in times %}
                            <option value='{{ time.id }}'>{{ time.date }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='table_td' width='50%'>
                    <a>Пациент</a>
                </td>
                <td class='table_td' width='50%'>
                    <select name='patient'>
                        {% for patient in patients %}
                            <option value='{{ patient.id }}'>{{ patient.personal_data.surname }} {{ patient.personal_data.name }} {{ patient.personal_data.patronymic }} {{ patient.personal_data.date_of_birth }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class='submit_td' colspan='2'>
                    <input type='submit' value='Записать'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}