{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Авторизация</title>

        <link href='{% static 'main/css/auth.css' %}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <div class='main_div'>
            <div class='left_column'>
                <div class='greeting_div'>
                    <h1>Добро пожаловать!</h1>
                    <p>Вы попали в автоматизированную систему онлайн записи на прием к врачу. Эта система позволяет вам записываться к врачам вашей поликлинки не выходя из дома или из любого другого места земного шара.</p>
                    <p>Для продолжения введите ваш логин и пароль.</p>
                </div>
            </div>
            <div class='right_column'>
                <div class='auth_div'>
                    <form action='../login_user/' method='POST'>
                        <p><h1>Авторизация</h1></p>
                        <p><input name='login' type='text' size='35' placeholder='Логин'></p>
                        <p><input name='password' type='password' size='35' placeholder='Пароль'></p>
                        <p><input type='submit' value='Войти'></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>