html, body {
    height: 99%;
    text-align: center;
    vertical-align: center;
    background: #dbe9f0;
    font-family: "Tahoma", sans-serif;
    font-weight: 500;
}

.main_div {
    position: absolute; /* Центровка */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 90%;
    background: #FFF; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 6px;
}

.left_column {
    height: 100%;
    width: 30%;
    background: #3c7490;
    float: left;
    border-radius: 6px 0px 0px 6px;
}

.left_column hr {
    width: 80%;
}

.right_column {
    height: 100%;
    position: relative; 
    width: 70%;
    background: #689ebc;
    float: right;
    text-align: center;
    border-radius: 0px 6px 6px 0px;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #EEE;
    text-decoration: underline;
}

h3 {
    margin: 30px 0px 30px 0px;
    color: #FFF;
}

.actions_div {
    margin: 40px 0px 70px 0px;
}

.logout_div input[type=submit] {
    padding: 0 18px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    background: #689ebc;
    border: 0px solid;
    border-radius: 6px;
    outline: 0;
}

.logout_div input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.greeting_div {
    padding: 0px 70px 0px 70px;
    margin: 70px 0px 70px 0px;
    color: #fff;
}

.greeting_div p {
    font-size: 20px;
    text-align: justify;
}

.action_header {
    color: #FFF;
}

.add_patient_div a:hover {
    color: #FFF;
    text-decoration: none;
}

.table_td {
    height: 35px;
}

.submit_td {
    height: 60px;
}

.add_patient_div table {
    padding: 0px 90px 30px 90px;
}

.add_patient_div input {
    width: 70%;
    font-size: 14px;
    border-radius: 6px;
    border: 0px solid;
    height: 15px;
    padding: 6px;
}

.add_patient_div input[type=submit] {
    padding: 0 18px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    background: #3c7490;
    border: 0px solid;
    border-radius: 6px;
    outline: 0;
}

.add_patient_div input[type=submit]:active {
    background: #3c7490;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}