html, body {
    height: 99%;
    text-align: center;
    vertical-align: center;
    background: #dbe9f0;
    font-family: "Tahoma", sans-serif;
    font-weight: 500;
}

.main_div {
    position: absolute; /* Центровка */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80%;
    width: 80%;
    background: #FFF; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 6px;
}

.left_column {
    height: 100%;
    width: 60%;
    background: #3c7490;
    float: left;
    border-radius: 6px 0px 0px 6px;
}

.right_column {
    height: 100%;
    position: relative; 
    width: 40%;
    background: #689ebc;
    float: right;
    text-align: center;
    border-radius: 0px 6px 6px 0px;
}

.auth_div {
    position: relative; 
    top: 30%;
}

.auth_div h1 {
    color: #555;
    text-shadow: 0 1px white;
    font-size: 23px;
    color: #FFF;
}

.auth_div input {
    width: 70%;
    font-size: 14px;
    border-radius: 6px;
    border: 0px solid;
    height: 29px;
    padding: 6px;
}

.auth_div input[type=submit] {
    padding: 0 18px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    background: #3c7490;
    border: 0px solid;
    border-radius: 6px;
    outline: 0;
}

.auth_div input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.greeting_div {
    padding: 0px 70px 0px 70px;
    margin: 70px 0px 70px 0px;
    color: #fff;
}

.greeting_div h1 {
    margin: 30px 0px 30px 0px;
    color: #FFF;
}

.greeting_div p {
    font-size: 18px;
    text-align: justify;
}